@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        height: 100%;
        margin: 0;
        background-color: white !important;
    }

    .text-center img {
        max-width: 200px; 
        height: auto;
    }
</style>


<div class="text-center py-5">
    <h1 class="display-4"></h1>
    <p>
        <img src="~/Recursos/Logo.jpg" alt="Logo" class="img-fluid">
    </p>
</div>
